.progress-container {
  width: 100%;
  height: 8px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.3);
}

.progress-bar {
  height: 100%;
  background-color: var(--light-theme-accent-color);
  transition: width 0.3s ease-in-out;
}
