<ng-container *ngIf="hasCards">
  <div class="row mb-2">
    <div class="col">Flashcards</div>
  </div>

  <ng-container *ngFor="let card of cards">
    <div class="row mb-2">
      <div class="col">
        <div class="card text-center">
          <div class="card-body body-style">
            <div class="row">
              <div class="col">
                <icon-pencil-small
                  [routerLink]="[
                    '/update-card',
                    card.id,
                    card.faceText,
                    card.backText
                  ]"
                  class="float-start"
                ></icon-pencil-small>
              </div>
              <div class="col">{{ card.faceText }}</div>
              <div class="col">
                <icon-card-medium class="float-end"></icon-card-medium>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
