<div class="row">
  <div class="col"></div>
  <div class="col">
    <app-title [inputTitle]="'Flashcards'"></app-title>
  </div>
  <div class="col edit-remove-button">
    <ng-container *ngIf="haveDecksOrCards()">
      <icon-trash-medium
        *ngIf="!isRemoveOption"
        (click)="toggleRemoveOption()"
        class="mb-3"
      ></icon-trash-medium>
      <icon-pencil-small
        *ngIf="isRemoveOption"
        (click)="toggleRemoveOption()"
        class="mb-3"
      ></icon-pencil-small>
    </ng-container>
  </div>
</div>

<app-home-info [hasDecks]="hasDecks" [hasCards]="hasCards"></app-home-info>
<app-home-decks
  [hasDecks]="hasDecks"
  [decks]="decks"
  [isRemoveOption]="isRemoveOption"
  (deckToRemove)="removeFromDeck($event)"
></app-home-decks>
<app-home-cards
  [hasCards]="hasCards"
  [cards]="cards"
  [isRemoveOption]="isRemoveOption"
  (cardToRemove)="removeFromCards($event)"
></app-home-cards>

<div class="backdrop" *ngIf="optionsState"></div>

<div class="row">
  <div class="col"></div>
  <div class="col">
    <div
      class="position-fixed bottom-0 mb-2 start-50 translate-middle-x menu-container"
    >
      <div class="d-flex flex-column align-items-center gap-3">
        <div @optionsAnimation *ngIf="optionsState">
          <app-creation-option-card
            [moveState]="getMoveState()"
            (click)="navigateToCreateCard()"
          ></app-creation-option-card>
        </div>
        <div @optionsAnimation *ngIf="optionsState">
          <app-creation-option-deck
            [moveState]="getMoveState()"
            (click)="navigateToCreateDeck()"
          ></app-creation-option-deck>
        </div>
        <icon-circle-plus-big
          [rotationState]="getAnimationState()"
          (click)="toggleOptionsState()"
        ></icon-circle-plus-big>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="position-fixed bottom-0 mb-2 me-4 end-0">
      <icon-circle-play-big></icon-circle-play-big>
    </div>
  </div>
</div>
