<div class="row">
  <div class="col">
    <app-title [inputTitle]="'Flashcards'"></app-title>
  </div>
</div>
<div class="row text-center mb-2" *ngIf="!hasDecks">
  <div class="col">
    <span>Não foram encontrados flashcards ou decks.</span>
  </div>
</div>
<div class="row text-center mb-2" *ngIf="!hasDecks">
  <div class="col">
    <span>Para criar um flashcard ou deck utilize o botão abaixo.</span>
  </div>
</div>
<div class="backdrop" *ngIf="optionsState"></div>
<div class="row">
  <div class="col">
    <div
      class="position-fixed bottom-0 mb-2 start-50 translate-middle-x menu-container"
    >
      <div class="d-flex flex-column align-items-center gap-3">
        <div @optionsAnimation *ngIf="optionsState">
          <app-creation-option-card
            [moveState]="getMoveState()"
            (click)="navigateToCreateCard()"
          ></app-creation-option-card>
        </div>
        <div @optionsAnimation *ngIf="optionsState">
          <app-creation-option-deck
            [moveState]="getMoveState()"
            (click)="navigateToCreateDeck()"
          ></app-creation-option-deck>
        </div>
        <icon-circle-plus-big
          [rotationState]="getAnimationState()"
          (click)="toggleOptionsState()"
        ></icon-circle-plus-big>
      </div>
    </div>
  </div>
</div>
