<div class="row">
  <div class="col">
    <app-title [inputTitle]="'Flashcards'"></app-title>
  </div>
</div>
<div class="row text-center mb-2">
  <div class="col">
    <span>Não foram encontrados flashcards ou decks.</span>
  </div>
</div>
<div class="row text-center mb-2">
  <div class="col">
    <span>Para criar um flashcard ou deck, utilize o botão abaixo.</span>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="position-fixed bottom-0 mb-2 start-50 translate-middle-x">
      <div class="d-flex flex-column align-items-center gap-3">
        <app-creation-option-card
          *ngIf="getOptionsState()"
        ></app-creation-option-card>
        <app-creation-option-deck
          *ngIf="getOptionsState()"
        ></app-creation-option-deck>
        <icon-circle-plus-big
          class="rotate-icon"
          [class.rotated]="getOptionsState()"
          (click)="toggleOptionsState()"
        ></icon-circle-plus-big>
      </div>
    </div>
  </div>
</div>
