.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  z-index: 1000;
  transition: backdrop-filter 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.menu-container {
  z-index: 1001;
}

.edit-remove-button {
  display: flex;
  align-items: center;
}

.edit-remove-button > icon-trash-medium,
icon-pencil-small {
  margin-left: auto;
}
