<ng-container *ngIf="hasDecks">
  <div class="row mb-2">
    <div class="col">Decks</div>
  </div>

  <ng-container *ngFor="let deck of decks">
    <div class="row mb-2">
      <div class="col">
        <div class="card text-center">
          <div class="card-header header-font">
            <div class="row">
              <div class="col">
                <icon-pencil-small
                  *ngIf="!isRemoveOption"
                  (click)="navigateToUpdateDeck(deck)"
                  class="float-start"
                ></icon-pencil-small>
                <icon-trash-medium
                  *ngIf="isRemoveOption"
                  (click)="onRemoveDeck(deck.id)"
                  class="float-start"
                ></icon-trash-medium>
              </div>
              <div class="col">{{ deck.name }}</div>
              <div class="col">
                <icon-circle-arrow-right-small
                  (click)="navigateToDeck(deck)"
                  class="float-end"
                ></icon-circle-arrow-right-small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
